.experience-language {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  img {
    filter: grayscale(100%);
  }

  .experience-unit {
    width: 300px;
    height: 30px;
    border-radius: 24px;
    border: 1px solid var(--text-secondary);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    .experience-measure {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 30px;
      border-radius: 24px;
      border: 1px solid linear-gradient(90deg, #777cf4 2.62%, #f47777 93.38%);
      background: linear-gradient(90deg, #777cf4 2.62%, #f47777 93.38%);

      color: var(--text-primary);
      font-weight: 300;
      text-align: center;
      font-size: 12px;

      &.measure-61 {
        width: 16.6%;
      }

      &.measure-1 {
        width: 33%;
      }

      &.measure-16 {
        width: 48%;
      }

      &.measure-2 {
        width: 64%;
      }

      &.measure-26 {
        width: 80%;
      }

      &.measure-36 {
        width: 100%;
      }
    }
  }
}
