.infos {
  .languages-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    width: 100%;
  }

  span {
    color: var(--text-secondary);
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
  }

  @media (min-width: 768px) {
    span {
      font-size: 20px;
      line-height: 36px;
      text-align: flex-start;
    }
  }
}
